*{
	list-style: none;
	padding: 0;
	margin: 0;
}
.navigacija li{
	width: 100px;
	padding: 5px;
	background-color: black;
	margin: 5px;
	padding: 3px;
	box-sizing:border-box;
	border-radius: 15px;
	text-align: center;
	color: white;
	float: left;
}
.navigacija li:hover{
	background-color: blue;
	color: orange;
	cursor: pointer;
}
.navigacija li a{
	color: inherit;
	text-decoration: none;
}