.navigacija {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.navigacija li{
	width: 100px;
	height: 25px;
	background-color: gray;
	text-align: center;
	float: left;
	margin: 5px;
	padding: 3px;
	box-sizing: border-box;
	border-radius: 15px;
}
.navigacija li:hover{
	background-color: gold;
	color: white;
}
.navigacija li a{
	color: inherit;
	text-decoration: none;
}